<h5>Clorpromazina – Induzione</h5>
<div class="sedation-table-wrapper">
<table class="sedation-table" id="schema-induzione">
  <thead>
    <tr>
      <th colspan="2">
        Bolo<span class="info">ⓘ<div class="tooltip">Somministrazione di un farmaco per via parenterale in un unico atto della durata di pochi secondi, per raggiungere rapidamente la concentrazione efficace.</div></span>
      </th>
      <th colspan="2">
        Infusione Continua<span class="info">ⓘ<div class="tooltip">Somministrazione continuativa di farmaco con velocità di infusione controllata per mantenere uno stato di sedazione costante.</div></span>
      </th>
    </tr>
    <tr>
      <th>dosi medie</th>
      <th>inizio azione</th>
      <th>dosi medie</th>
      <th>incremento</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>25 mg EV</td>
      <td>5–10 minuti EV</td>
      <td>3–8 mg/ora EV</td>
      <td>2–5 mg/ora</td>
    </tr>
    <tr>
      <td>10–50 mg IM</td>
      <td>10–20 minuti IM</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
</div>

<!-- Tabella Mantenimento -->
<h5>Clorpromazina – Mantenimento</h5>
<div class="sedation-table-wrapper">
<table class="sedation-table" id="schema-mantenimento">
  <thead>
    <tr>
      <th rowspan="2">Infusione Continua<span class="info">ⓘ<div class="tooltip">Somministrazione continuativa di farmaco con velocità di infusione controllata per mantenere uno stato di sedazione costante.</div></span></th>
      <th colspan="2">Bolo ripetuto ad orari fissi<span class="info">ⓘ<div class="tooltip">Somministrazione di un bolo a intervalli definiti per mantenimento del controllo della sofferenza.</div></span></th>
      <th colspan="2" class="bg-danger text-white">Bolo Rescue<span class="info">ⓘ<div class="tooltip">Somministrazione estemporanea di un farmaco ad una dose predefinita per ripristinare il controllo della sofferenza in corso di terapia continua.</div></span></th>
    </tr>
    <tr>
      <th>dosi medie</th>
      <th>intervallo</th>
      <th>dosi medie</th>
      <th style="width: 150px;">inizio azione</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1–12,5 mg/ora EV</td>
      <td>5–25 mg EV/IM</td>
      <td>4–8 ore</td>
      <td>50% dose di induzione</td>
      <td style="width: 150px;">5–10 minuti EV<br>10–20 minuti IM</td>
    </tr>
  </tbody>
</table>

