<h4>Dexmedetomidina</h4>
<h5>Induzione</h5>
        <div class="sedation-table-wrapper">
        <table class="sedation-table" id="schema-induzione">
          <thead>
            <tr>
              <th colspan="2">Infusione Continua<sup class="info" tabindex="0">ⓘ<div class="tooltip">Somministrazione continuativa di farmaco con velocità di infusione controllata per mantenere uno stato di sedazione costante.</div></sup></th>
            </tr>
            <tr>
              <th>dosi medie</th>
              <th>incremento</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                0,15–0,7 mcg/kg/ora EV<br>
                1 mcg/kg in 10 minuti EV
              </td>
              <td>
                0,5–1 mcg/kg/ora EV
              </td>
            </tr>
        </tbody>
        </table>
        </div>
        <!-- Tabella Mantenimento -->
<h5>Mantenimento</h5>
        <div class="sedation-table-wrapper">
        <table class="sedation-table" id="schema-mantenimento">
          <thead>
            <tr>
              <th colspan="2">Infusione Continua<sup class="info" tabindex="0">ⓘ<div class="tooltip">Somministrazione continuativa di farmaco con velocità di infusione controllata per mantenere uno stato di sedazione costante.</div></sup></th>
            </tr>
            <tr>
              <th>dosi medie</th>
              <th>incremento</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>0,5–1,4 mcg/kg/ora EV</td>
              <td>incremento 0,5–1 mcg/kg/ora EV ogni 30–60 minuti</td>
            </tr>
</div>
          </tbody>        </table>
