        <!-- Tabella Induzione -->
        <h5>Droperidolo – Induzione</h5>
        <div class="sedation-table-wrapper">
        <table class="sedation-table" id="schema-induzione">
          <thead>
            <tr>
              <th colspan="2">Bolo<span class="info">ⓘ<div class="tooltip">Somministrazione di un farmaco per via parenterale in un unico atto della durata di pochi secondi, per raggiungere rapidamente la concentrazione efficace.</div></span></th>
            </tr>
            <tr>
              <th>dosi medie</th>
              <th>inizio azione</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                0,625–5 mg EV<br>
                2,5–5 mg IM
              </td>
              <td>3–10 minuti EV/IM</td>
            </tr>
        </tbody>
        </table>
        </div>
        </div>
        <!-- Tabella Mantenimento -->
        <h5>Droperidolo – Mantenimento</h5>
        <div class="sedation-table-wrapper">
        <table class="sedation-table" id="schema-mantenimento">
          <thead>
            <tr>
              <th>Infusione Continua<span class="info">ⓘ<div class="tooltip">Somministrazione continuativa di farmaco con velocità controllata.</div></span></th>
              <th colspan="2" class="bg-danger text-white">Bolo Rescue<span class="info">ⓘ<div class="tooltip">Bolo estemporaneo per ripristinare il controllo della sofferenza.</div></span></th>
            </tr>
            <tr>
              <th>dosi medie</th>
              <th>dosi medie</th>
              <th>inizio azione</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2,5–10 mg/24h EV</td>
              <td>0,625–5 mg EV/IM</td>
              <td>3–10 minuti EV/IM</td>
            </tr>
          </tbody>
        </table>

