<h4>Fenobarbital</h4>
<h5>Induzione</h5>
<div class="sedation-table-wrapper">
<table class="sedation-table" id="schema-induzione">
  <thead>
    <tr>
      <th colspan="2">Bolo<sup class="info" tabindex="0">ⓘ<div class="tooltip">Somministrazione di un farmaco per via parenterale in un unico atto della durata di pochi secondi, per raggiungere rapidamente la concentrazione efficace.</div></sup></th>
    </tr>
    <tr>
      <th>dosi medie</th>
      <th>inizio azione</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        10-300 mg SC/EV/IM<br>
        1-5 mg/kg
      </td>
      <td>
        5 minuti EV<br>
        20-60 minuti IM
      </td>
    </tr>
  </tbody>
</table>
</div>
<!-- Tabella Mantenimento -->
<h5>Mantenimento</h5>
<div class="sedation-table-wrapper">
<table class="sedation-table" id="schema-mantenimento">
  <thead>
    <tr>
      <th rowspan="2">Infusione Continua<sup class="info" tabindex="0">ⓘ<div class="tooltip">Somministrazione continuativa di farmaco, con velocità di infusione controllata, per mantenimento dello stato di sedazione.</div></sup>
      </th>
      <th colspan="2" class="bg-danger text-white">Bolo Rescue<sup class="info" tabindex="0" style="color:#fff">ⓘ<div class="tooltip">Somministrazione estemporanea di un farmaco ad una dose predefinita per ripristinare il controllo della sofferenza in corso di terapia continua.</div></sup></th>
    </tr>
    <tr>
      <th>dosi medie</th>
      <th>inizio azione</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>30-120 mg/ora SC/EV<br>0,5-2 mg/kg/ora SC/EV</td>
      <td>
        10-300 mg SC/EV/IM<br>
        1-5 mg/kg
      </td>
      <td>
        5 minuti EV<br>
        20-60 minuti SC/IM
      </td>
    </tr>
</table>
</div>

