<h4>Lorazepam</h4>
<h5>Induzione</h5>
<div class="sedation-table-wrapper">
<table class="sedation-table" id="schema-induzione">
  <thead>
    <tr>
      <th rowspan="2">Via</th>
      <th colspan="2">
        Bolo<span class="info" tabindex="0"><sup>ⓘ</sup><span class="tooltip">Somministrazione di un farmaco per via parenterale in un unico atto della durata di pochi secondi, per raggiungere rapidamente la concentrazione efficace.</span></span>
      </th>
      <th colspan="2">
        Bolo refratto (ripetuto)<span class="info" tabindex="0"><sup>ⓘ</sup><span class="tooltip">Somministrazione di boli a intervalli definiti fino al controllo della sofferenza.</span></span>
      </th>
    </tr>
    <tr>
      <th>dosi medie</th>
      <th>inizio azione</th>
      <th>dosi medie</th>
      <th>intervallo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>EV</td>
            <td>0,5–2 mg<br>0,03 mg/kg</td>
      <td>3–5 minuti</td>
      <td>1–4 mg</td>
      <td>5 minuti</td>
    </tr>
    <tr>
      <td>SC</td>
            <td>0,5–4 mg<br>0,03 mg/kg</td>
      <td>5–10 minuti</td>
      <td>1–4 mg</td>
      <td>10 minuti</td>
    </tr>
  </tbody>
</table>

<!-- Tabella Mantenimento -->
</div>
<h5>Mantenimento</h5>
<div class="sedation-table-wrapper">
<table class="sedation-table" id="schema-mantenimento">
  <thead>
    <tr>
      <th>Infusione Continua<span class="info" tabindex="0"><sup>ⓘ</sup><span class="tooltip">Somministrazione continuativa di farmaco con velocità di infusione controllata per mantenere uno stato di sedazione costante.</span></span></th>
      <th colspan="2">Bolo ripetuto ad orari fissi<span class="info" tabindex="0"><sup>ⓘ</sup><span class="tooltip">Bolo ripetuto a intervalli regolari.</span></span></th>
      <th colspan="2" class="bg-danger text-white">Bolo Rescue<span class="info" tabindex="0" style="color:#fff"><sup>ⓘ</sup><span class="tooltip">Somministrazione estemporanea di un farmaco ad una dose predefinita per ripristinare il controllo della sofferenza in corso di terapia continua.</span></span></th>
    </tr>
    <tr>
      <th>dosi medie</th>
      <th>dosi medie</th>
      <th>intervallo</th>
      <th>dosi medie</th>
      <th>inizio azione</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>0,15–4 mg/ora SC/EV</td>
      <td>1–4 mg SC/EV</td>
      <td>4 ore</td>
      <td>50–75% dose start</td>
      <td>3–5 minuti EV<br>5–10 minuti SC</td>
    </tr>
  </tbody>
</table>
</div>

