       <!-- Tabella Induzione -->
        <h5>Induzione</h5>
        <table class="table table-bordered mb-4" id="schema-induzione">
          <thead>
            <tr>
              <th colspan="2">
                <span style="cursor:pointer; text-decoration: underline dashed; color: #007bff;" tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus" title="Definizione" data-bs-content="Somministrazione di un farmaco per via parenterale in un unico atto della durata di qualche secondi, non superiore a qualche decina di secondi, per raggiungere una concentrazione efficace.">Bolo</span>
              </th>
              <th colspan="2">
                <span style="cursor:pointer; text-decoration: underline dashed; color: #007bff;" tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus" title="Definizione" data-bs-content="Somministrazione di boli caratterizzata dalla discontinuità temporale (minuti, ore) fino al controllo della sofferenza; nella modalità a orari fissi somministrato nelle 24 ore a orari definiti dal medico.">Bolo refratto (ripetuto)</span>
              </th>
              <th colspan="2">
                <span style="cursor:pointer; text-decoration: underline dashed; color: #007bff;" tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus" title="Definizione" data-bs-content="Somministrazione continuativa di farmaco, con velocità di infusione controllata, per mantenimento dello stato di sedazione.">Infusione Continua</span>
              </th>
            </tr>
            <tr>
              <th>dosi medie</th>
              <th>inizio azione</th>
              <th>dosi medie</th>
              <th>intervallo</th>
              <th>dosi medie</th>
              <th>incremento</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        <!-- Tabella Mantenimento -->
        <h5>Mantenimento</h5>
        <table class="table table-bordered" id="schema-mantenimento">
          <thead>
            <tr>
              <th rowspan="2">
                <span style="cursor:pointer; text-decoration: underline dashed; color: #007bff;"
                      data-bs-toggle="popover"
                      data-bs-trigger="focus"
                      tabindex="0"
                      title="Definizione"
                      data-bs-content="Somministrazione continuativa di farmaco, con velocità di infusione controllata, per mantenimento dello stato di sedazione.">
                  Infusione Continua
                </span>
              </th>
              <th colspan="2">Bolo ripetuto ad orari fissi</th>
              <th colspan="2" class="bg-danger text-white">
                <span style="cursor:pointer; text-decoration: underline dashed; color: #fff; text-decoration: underline dashed;"
                      data-bs-toggle="popover"
                      data-bs-trigger="focus"
                      tabindex="0"
                      title="Definizione"
                      data-bs-content="Somministrazione estemporanea di un farmaco ad una dose predefinita per ripristinare il controllo della sofferenza in corso di terapia continua.">
                  Bolo Rescue
                </span>
              </th>
            </tr>
            <tr>
              <th>dosi medie</th>
              <th>intervallo</th>
              <th>dosi medie</th>
              <th>inizio azione</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
